doctype html
include mixins/head.pug
body 
  
  .body--container
    include mixins/sidebar.pug
    include mixins/main.pug
    script
      include mixins/js/app.js

      
    //- include mixins/nav.pug 
    //- include mixins/main.pug 