.hero--top--background
  .hero--top--background--overlay
    .hero--top--text--container 
      .hero--top--text--overlay
        .hero--top--text--wrapper
          h1 Discover my amazing 
            h1(style='color: #ffc107') Web Space!
          span "My job is to build your website so that it is functional and user-friendly"

