.information--container 
  h2 Information about me
  .information--column
    .information--wrapper
      h3 Location
      ul 
        li Country 
          span Austria
        li City
          span Vienna 
        li District 
          span A-1110  
    .information--wrapper
      h3 Contact
      ul 
        li Email
          span %100
        li Phone
          span (+43) 664 102 68 21
        li Telegram
          span @erhanbulut
        
