.my--services--container(id="services") 
  .my--services--wrapper 
    .my--services--box
      h3 Designer  
      p I value simple content structure, clean design patterns, and thoughtful interactions.
      a(href="/")
        .span More info
    .my--services--box
      h3 Front-end Developer 
      p I like to code things from scratch, and enjoy bringing ideas to life in the browser.
      a(href="/")
        .span More info
    .my--services--box
      h3 Photography 
      p I make high-quality photos of any category at a professional level.
      a(href="/")
        .span More info
    .my--services--box
      h3 Advertising
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.
      a(href="/")
        .span More info
    .my--services--box
      h3 Web Development 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.
      a(href="/")
        .span More info
    .my--services--box
      h3 Web Development 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.
      a(href="/")
        .span More info
