nav
  ul(class="navbar--container")
    li
      a(href="index.html" ) Home
    li
      a(href="#portfolio") Portfolio
    li
      a(href="#resume") Resume
    li
      a(href="#impressum") Impressum  