nav
  ul(class="navbar--container")
    li
      a(href="index.html" ) Home
    li
      a(href="about.html") Resume
    li
      a(href="services.html") Portfolio
    li
      a(href="contact.html") About me