.sidebar--container
  .sidebar--wrapper
    .sidebar--header
      .sidebar--avatar
        img(src='img/erhanbulut.jpg')
        .sidebar--avatar--text--container
          h4.title Erhan Bulut
          span UI/UX Designer and Web Developer
    .sidebar--body      
      .sidebar--main
        .info--list
          ul 
            li.flex--between 
              h6 Residence:
              span Turkey
            li.flex--between 
              h6 City:
              span Karabük
            li.flex--between 
              h6 Age:
              span 32

        .art-lang-skills
          .art-lang-skills-item
            #circleprog1-1.art-cirkle-progress.art-skills-progress(data-type='circles' data-value='100' style='position: relative;')
              svg(viewbox='0 0 100 100' style='display: block; width: 100%;')
                path(d='M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93' stroke='#eee' stroke-width='7' fill-opacity='0')
                path(d='M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93' stroke='#555' stroke-width='7' fill-opacity='0' style='stroke-dasharray: 292.273, 292.273; stroke-dashoffset: 0;')
              .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 100
            h6 Türkish
          .art-lang-skills-item
            #circleprog1-2.art-cirkle-progress.art-skills-progress(data-type='circles' data-value='90' style='position: relative;')
              svg(viewbox='0 0 100 100' style='display: block; width: 100%;')
                path(d='M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93' stroke='#eee' stroke-width='7' fill-opacity='0')
                path(d='M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93' stroke='#555' stroke-width='7' fill-opacity='0' style='stroke-dasharray: 292.273, 292.273; stroke-dashoffset: 29.2273;')
              .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 90
            h6 English
          .art-lang-skills-item
            #circleprog1-3.art-cirkle-progress.art-skills-progress(data-type='circles' data-value='70' style='position: relative;')
              svg(viewbox='0 0 100 100' style='display: block; width: 100%;')
                path(d='M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93' stroke='#eee' stroke-width='7' fill-opacity='0')
                path(d='M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93' stroke='#555' stroke-width='7' fill-opacity='0' style='stroke-dasharray: 292.273, 292.273; stroke-dashoffset: 87.682;')
              .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 70
            h6 German

        .art-hard-skills
          .art-hard-skills-item
            .art-skill-heading
              h6 html
            .art-line-progress
              #lineprog2-1.art-skills-progress(data-type='progress', data-value='90', style='position: relative;')
                svg(viewbox='0 0 100 1.72', preserveaspectratio='none', style='width: 100%; height: 100%;')
                  path(d='M 0,0.86 L 100,0.86', stroke='#eee', stroke-width='1.72', fill-opacity='0')
                  path(d='M 0,0.86 L 100,0.86', stroke='#555', stroke-width='1.72', fill-opacity='0', style='stroke-dasharray: 100px, 100px; stroke-dashoffset: 10px;')
                .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 90 %
          .art-hard-skills-item
            .art-skill-heading
              h6 CSS
            .art-line-progress
              #lineprog2-2.art-skills-progress(data-type='progress', data-value='95', style='position: relative;')
                svg(viewbox='0 0 100 1.72', preserveaspectratio='none', style='width: 100%; height: 100%;')
                  path(d='M 0,0.86 L 100,0.86', stroke='#eee', stroke-width='1.72', fill-opacity='0')
                  path(d='M 0,0.86 L 100,0.86', stroke='#555', stroke-width='1.72', fill-opacity='0', style='stroke-dasharray: 100px, 100px; stroke-dashoffset: 5px;')
                .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 95 %
          .art-hard-skills-item
            .art-skill-heading
              h6 Js
            .art-line-progress
              #lineprog2-3.art-skills-progress(data-type='progress', data-value='75', style='position: relative;')
                svg(viewbox='0 0 100 1.72', preserveaspectratio='none', style='width: 100%; height: 100%;')
                  path(d='M 0,0.86 L 100,0.86', stroke='#eee', stroke-width='1.72', fill-opacity='0')
                  path(d='M 0,0.86 L 100,0.86', stroke='#555', stroke-width='1.72', fill-opacity='0', style='stroke-dasharray: 100px, 100px; stroke-dashoffset: 25px;')
                .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 75 %
          .art-hard-skills-item
            .art-skill-heading
              h6 PHP
            .art-line-progress
              #lineprog2-4.art-skills-progress(data-type='progress', data-value='65', style='position: relative;')
                svg(viewbox='0 0 100 1.72', preserveaspectratio='none', style='width: 100%; height: 100%;')
                  path(d='M 0,0.86 L 100,0.86', stroke='#eee', stroke-width='1.72', fill-opacity='0')
                  path(d='M 0,0.86 L 100,0.86', stroke='#555', stroke-width='1.72', fill-opacity='0', style='stroke-dasharray: 100px, 100px; stroke-dashoffset: 35px;')
                .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 65 %
          .art-hard-skills-item
            .art-skill-heading
              h6 WordPress
            .art-line-progress
              #lineprog2-5.art-skills-progress(data-type='progress', data-value='85', style='position: relative;')
                svg(viewbox='0 0 100 1.72', preserveaspectratio='none', style='width: 100%; height: 100%;')
                  path(d='M 0,0.86 L 100,0.86', stroke='#eee', stroke-width='1.72', fill-opacity='0')
                  path(d='M 0,0.86 L 100,0.86', stroke='#555', stroke-width='1.72', fill-opacity='0', style='stroke-dasharray: 100px, 100px; stroke-dashoffset: 15px;')
                .progressbar-text(style='position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);') 85 %
        
        ul.art-knowledge-list
          li
            i.fas.fa-check
            | Bootstrap, Materialize
          li
            i.fas.fa-check
            | Stylus, Sass, Less
          li
            i.fas.fa-check
            | Gulp, Webpack, Grunt
          li
            i.fas.fa-check
            | GIT knowledge


  .sidebar--social 
    a(href="https://linkedin.com/" target="_blank")
      i.fab.fa-linkedin
    a(href="https://dribble.com/" target="_blank")
      i.fab.fa-dribbble
    a(href="https://behance.com/" target="_blank")
      i.fab.fa-behance
    a(href="https://github.com/" target="_blank")
      i.fab.fa-github
    a(href="https://twitter.com/" target="_blank")
      i.fab.fa-twitter

      //- <div class="footer-social">
      //- <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
      //- <a href="https://dribble.com/" target="_blank"><i class="fab fa-dribbble"></i></a> 
      //- <a href="https://behance.com/" target="_blank"><i class="fab fa-behance"></i></a> 
      //- <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
      //- <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
      //- </div>


