.my--services--container {
  margin-top: -70px;
  margin-bottom: 70px;
  .my--services--wrapper {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @media screen and (max-width: $breakpoint--large){
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $breakpoint--medium--large){
      grid-template-columns: repeat(1, 1fr);
    }

    .my--services--box {
      min-width: 30ch;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      color: $color--text--grey;
      min-width: 15ch;
      padding: 30px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
      box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
      background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);

      h3 {
        color: $color--text--light;
      }

      a {
        color: $color--primary;
        font-weight: 600;
      }
    }
  }
}
