/* Colors */
$color--text--light: #fafafc;
$color--text--grey: #8c8c8e;
$color--text--dark: #1e1e28;
$color--primary: #ffc107;
$color--container--background: linear-gradient(159deg,#2d2d3a 0%,#2b2b35 100%);
$color--background: #1e1e28;
$color--background--light: #23232e;

/* Shadows */
$main--shadow--light: 0 3px 8px 10px rgba(41, 41, 41, 0.88);
$main--shadow--dark: 0 3px 8px 0 rgba(15,15,20,.2);


/* Typography */
$font-family--text: 'Lato', sans-serif;

/* Breakpoints */
$breakpoint--small: 481px;
$breakpoint--medium: 769px;
$breakpoint--medium--large: 890px;
$breakpoint--large: 1200px;

/* Borders */

/* Spacings */
$container--padding: 15px;

/* Font-icons */
$fa-font-path: "../webfonts";

